/* Making the Star Responsive */




























/* Making the top About Section Responsive */
@media (max-width: 768px) {

    .bread_content-wrap{
        width: 100%  !important;
    }

    .bread_content-wrap h1{
        font-size: 38px !important;
    }


    .bread_content-wrap p{
        font-size:18px !important;
    }

}