/* Menu  */
@media (max-width: 767px){
    .custom_modal_wrapper .modal-body {
        width: 100% !important;
       margin: 0 !important;
    }

}
@media (max-width: 460px){
    .custom_modal_wrapper .modal-body h3{
        font-size: 24px !important;
    }
    .menu_style a{
        padding: 4px 15px !important;
    }
    .custom_modal_wrapper .modal-body h3{
        padding-left: 15px !important;
    }
    .custom_modal_wrapper .modal-body .col-lg-3{
        border: none !important;
    }
    .menu_style a {
        font-size: 16px !important;
    }
    .custom_modal_wrapper .modal-body h3 {
        margin-bottom: 25px !important;
    }
    .button_group_wrapper {
        flex-direction: column;
    }
    .button_group_wrapper button.btn {
        margin-bottom: 15px;
    }
    .button_group_wrapper button.btn{
        margin-right: 0  !important;
    }
    .button_group_wrapper{
        align-items: center;
    }
}

.site_navbar-brand img {
    height: 60px;
}
.site_navbar-brand {
    padding: 40px 0;
}
.site_navbar .navbar-nav li a {
    color: rgba(0, 0, 0, 0.80);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 30px 30px !important;
    display: inline-block;
}
.static_horizontal_sub_menu {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    background: #dddee0;
    text-align: center;
    z-index: 99;
}

.nav-item {
    position: static;
}
.nav-item:hover .static_horizontal_sub_menu{
    display: block;
     
    
}
.static_horizontal_sub_menu li {
    list-style: none;
    display: inline-block;
}

.static_horizontal_sub_menu li a {
    text-decoration: none;
    padding: 30px 40px;
     
}
.nav-item > a{
    border-bottom: 3px solid transparent;
}
.nav-item:hover > a {
    border-bottom: 3px solid #31BEA4;
     
}
span.badge_style {
  
    background: rgba(255, 241, 238, 0.70);
    padding: 5px;
    font-size: 12px;
    color: #E2543B;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: inline-block;
    text-align: center;
  
}

.home_page_menu_class .nav-item .nav-link{
    color:white;
}
.home_page_menu_class{
    border-bottom: 1px solid rgb(169 169 169 / 25%);
}
/* ***********END MENU************************************* */


.custom_modal_wrapper .modal-dialog {
    max-width: 100%;
    height: 100vh;
    margin: 0;
    overflow-y: scroll;
}
.custom_modal_wrapper .modal-content {
    border-radius: 0;
}
.custom_modal_wrapper .modal-header {
    border-bottom: none;
}
.custom_modal_wrapper .modal-body h3 {
    color: rgba(0, 0, 0, 0.80);
    font-family: Neuton;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 30px;
    margin-bottom: 40px;
}
.menu_style a {
    color: rgba(0, 0, 0, 0.80);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
}

.menu_style li {
    list-style: none;
}

.menu_style {
    padding-left: 0;
    text-align: left;
}

.custom_modal_wrapper .modal-body .col-lg-3:not(:last-of-type) {
    border-right: 1px solid #31BBA1;
}

.button_group_wrapper button.btn {
    width: 320px;
    padding: 20px 40px;
    border: 1px solid black;
    margin-right: 15px;
}


.button_group_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 82px;
    margin-bottom: 100px;
}
.custom_modal_wrapper .modal-body {
    width: 80%;
    margin: 46px auto 0;
}
.custom_modal_wrapper .btn-close {
    
    width: 75px;
    background-size: 32px;
}
.custom_modal_wrapper {
    z-index: 9999;
}

/* *************************************************** */
/* footer start  */

footer.site_footer_wrapper {
    background: #1D514E;
}
.footer_logo img {
    height: 80px;
}


.footer_link h4 {
    color: #FFF;
    font-family: Neuton;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}
.footer_link ul li a {
    color: rgba(255, 255, 255, 0.60);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.footer_link ul {
    padding-left: 0;
}

.footer_link ul li {
    list-style: none;
}

.footer_link ul li:not(:last-child) {
    margin-bottom: 14px;
}
footer.site_footer_wrapper {
    padding: 60px 0;
}

.badge_wrap {
    color: rgba(0, 0, 0, 0.80);
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 2px;
    background: #FB9CB3;
    padding: 5px 7px;
}
.footer_btn_wrapper .btn {
    border-radius: 4px;
    background: rgba(250, 226, 178, 0.50);
    width: 100%;
    padding: 20px;
    color: #FFF;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;  
}
.footer_contact_wrap h4{
    color: #FFF;
    font-family: Neuton;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.48px;
}
.footer_contact_wrap ul{
    padding-left: 0;
}
.footer_contact_wrap ul li {
    margin-bottom: 8px;
    list-style: none;
}

.footer_contact_wrap ul li a {
    color: rgba(255, 255, 255, 0.60);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    text-decoration: none;
}
.footer_contact_wrap {
    width: 60%;
}
.top_buttom_gap {
    padding: 50px 0;
}
.footer_btn_wrapper {
    margin-top: 50px;
}
.social_link ul {
    padding-left: 0;
}

.social_link li {
    list-style: none;
    display: inline-block;
}
.social_link li:nth-child(1){
    color: #FFF;
    font-family: Neuton;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    vertical-align: bottom;
    margin-right: 35px;
}

.social_link ul li a {
    color: #31BBA1;
    width: 55px;
    display: block;
    font-size: 22px;
}
.social_link {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: end;
}
.copy_right_wrap p {
    margin: 0;
    color: rgba(255, 255, 255, 0.60);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.copy_right_wrap ul {
    padding-left: 0;
}

.copy_right_wrap ul li {
    list-style: none;
    display: inline;
}
.copy_right_wrap ul li:not(:last-child){
    margin-right:25px;
}

.copy_right_wrap ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width:769px){
    .footer_logo {
        margin-bottom: 48px;
    }
}
 
@media (max-width:448px){
    .social_link li:nth-child(1) {
        width: 100%;
        margin-bottom: 25px;
    }
    .copy_right_wrap ul.text-end {
        text-align: left !important;
        margin-top: 5px;
    }
}
/* footer start ENd */




/* common header style bread  */
.bread_wrapper-block {
    background: #ebf0fc;
    padding: 95px 0;
    position: relative;
}

.bread_content-wrap {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.bread_content-wrap h2 {
    color: rgba(0, 0, 0, 0.80);
    font-family: Neuton;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
 
.bread_content-wrap p {
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
}
section.bread_wrapper-block::before{
    content: '';
    background-image: url('../images/Vector3.png');
    position: absolute;
    top: 104px;
    left: 70px;
    width: 46px;
    height: 49px;
}
section.bread_wrapper-block:after{
    content: '';
    background-image: url('../images/Layer_3.png');
    width: 214px;
    height: 100px;
    position: absolute;
    top: -60px;
    right: 138px;
    background-size: 158px;
    background-repeat: no-repeat;
}


/* Making the common Header Responsive */
@media (max-width: 768px) {

    .bread_content-wrap{
        width: 100% ;
    }

    .bread_content-wrap h1{
        font-size: 38px;
    }


    .bread_content-wrap p{
        font-size:18px ;
    }

    /* The Star */
    section.bread_wrapper-block::before{
        top: 50px;
        left: 50px;
        width: 46px;
        height: 49px;
    }

    /* The Cloud */
    section.bread_wrapper-block:after{
        width: 214px;
        height: 100px;
        top: -60px;
        right: 40px;
        background-size: 158px;
        background-repeat: no-repeat;
    }

}


@media (max-width:560px)
{
    /* The Star */
    section.bread_wrapper-block::before{
        top: 63px;
        left: 60px;
        width: 46px;
        height: 49px;
    }

    /* The Cloud */
    section.bread_wrapper-block:after{
        width: 214px;
        height: 100px;
        top: -60px;
        right: 10px;
    }
}

@media (max-width:520px)
{
    /* The Star */
    section.bread_wrapper-block::before{
        top: 60px;
        left: 70px;
        width: 46px;
        height: 49px;
    }

    /* The cloud */
    section.bread_wrapper-block:after{
        width: 214px;
        height: 100px;
        top: -60px;
        right: 5px;
    }

}

@media (max-width:480px)
{
    /* The Star */
    section.bread_wrapper-block::before{
        top: 60px;
        left: 20px;
        width: 46px;
        height: 49px;
    }

    /* The Cloud */
    section.bread_wrapper-block:after{
        width: 180px;
        height: 100px;
        top: -60px;
        right: 30px;
    }

}



/* common header style bread ENd */


/* ************************************ */
 #custom_program-group{
    border:none;
    justify-content: center;
 }
 #custom_program-group .nav-item button{
    border:none;
    padding: 30px 80px;
 }



/* ****************************************** */

/* community page  */
.custom_program_group_container {
    background-color: #1D514E;
}
 

#custom_program-group li button {
    border-bottom: 2px solid transparent;
    color: rgba(0, 0, 0, 0.40);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#custom_program-group li .active {
    border-bottom: 4px solid green !important;
    color: rgba(0, 0, 0, 0.80);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.inside_tab_container_content {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width:60%;
    margin: 0 auto;
}

.inside_tab_container_content h3 {
    color: #FFF;
    text-align: center;
    font-family: Neuton;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;
}

.inside_tab_container_content p {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
    
}
.inside_tab_container_slider_content {
    width: 80%;
    margin: 0 auto;
}

.info_owl-carousel.owl-carousel.owl-loaded.owl-drag {
    border-radius: 25px;
    
}
.info_owl-carousel .owl-nav.disabled {
    display: block !important;
}

.info_owl-carousel .owl-nav button span {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    display: block;
    font-size: 43px;
    text-align: center;
    line-height: 42px;
    color: white;
}
.info_owl-carousel .owl-nav button{
    position: absolute;
    top: 50%;
}
.info_owl-carousel .owl-nav button.owl-next{
    right:-74px;
}
.info_owl-carousel .owl-nav button.owl-prev{
    left: -74px;
}
.image_radius_wrapper {
    border-radius: 21px;
    overflow: hidden;
}
.teacher_monthly_wrapper {
    padding: 100px 0;
}
.teacher_image_wrapper {
    position: relative;
}

.teacher_image_wrapper img {
    width: 100%;
    border-radius: 25px;
}

.teacher_info_content h3 {
    color: rgba(0, 0, 0, 0.80);
    font-family: Neuton;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}
.teacher_info_content p:nth-of-type(1) {
    color: rgba(0, 0, 0, 0.60);
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
}
.teacher_info_content p:nth-of-type(2) {
    color: rgba(0, 0, 0, 0.60);
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 42px;
}
.teacher_info_content p:nth-of-type(3) {
    color: #E2543B;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;

}
.teacher_info_content {
    width: 61%;
    margin-left: 201px;
    margin-top: 57px;
}
.teacher_image_wrapper:after {
    content: '';
    background: #f8d4ce;
    width: 100%;
    height: 83%;
    position: absolute;
    right: -43px;
    top: 40px;
    z-index: -9;
    border-radius: 25px;
}
@media  (max-width:769px) {
    .team-img {
        margin-left: -48px;
    }
    .jeepsvg {
        position: absolute;
        right: -94px;
        bottom: 19px;
    }
    section.interest-block {
        padding-bottom: 56px;
    }
    .reg-int a {
        width: 85%;
        margin-bottom: 10px;
    }
    .faq-section .more {
        margin-left: 0;
    }
    ul.mydiv-sec {
        margin-top: 30px;
    }
    .watch-vts-block.inner-a .slick-next {
        right: 82px;
    }
    /* home page  */
    .watch-vts-block.inner-a .slick-prev {
        left: 83px;
    }
    .community-top {
        margin-bottom: 30px;
    }
    section.principal-msg {
        padding-bottom: 50px;
    }
    section.uni-community {
        padding-top: 0;
    }
    .header {
        margin-bottom: 30px;
    }
    section.learningAt {
        padding: 0;
    }
    .nav_trigger button {
        z-index: 99999;
        position: relative;
    }
    .main-banner {
        margin-top: -157px;
    }
    /* home page end */
    .inside_tab_container_content {
        width: 100%;
    }
    .inside_tab_container_slider_content {
        width: 100%;
    }
    .image_radius_wrapper img {
        width: 100% !important;
    }
    .info_owl-carousel .owl-nav button {
        position: relative;
        top: unset;
    }
    .info_owl-carousel .owl-nav button.owl-next {
        right: unset;
        margin-left: 30px;
    }
    .info_owl-carousel .owl-nav button.owl-prev {
        left: unset;
    }
    .info_owl-carousel .owl-nav {
        text-align: center;
        margin-top: 30px;
    }
    .responsive_mode_1 {
        margin-left: 0;
        margin-bottom: 60px;
        margin-top: 0;
    }
    .teacher_image_wrapper {
        width: 55%;
    }
    .teacher_info_content {
        width: 100%;
        margin-left: 0;
    }
    .teacher_info_content p:nth-of-type(2) {
        margin-bottom: 42px !important;
    }
    .wrap_slick_1 .stories_block:not(:last-child) {
        margin-right: 0 !important;
        margin-bottom: 15px;
    }
    .wrap_slick_1 {
        flex-direction: column;
    }
    .hearto_us .slick-slide {
        margin: 0;
        padding: 0;
    }
    .hearto_us {
        margin-top: 30px;
    }
    .hearto_us .slick-prev {
        left: 80px;
    }
    .hearto_us .slick-next {
        right: 101px;
    }
    .hearto_us .responsive .slick-prev:after {
        content: '<' !important;
        position: absolute;
        top: 31px;
        color: black;
        z-index: 99999;
        font-size: 51px;
        left: 19px;
    }
    .hearto_us .responsive .slick-next:after {
        content: '>' !important;
        position: absolute;
        top: 31px;
        color: black;
        z-index: 99999;
        font-size: 51px;
        left: 19px;
    }
    .for_tab_scroll {
        overflow-x: scroll;
    }   
}
/* end community page */

.slick-arrow {
    border: 1px solid #6a6969;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.wrap_slick_1 {
    display: flex;
}

.wrap_slick_1 .stories_block:not(:last-child) {
    margin-right: 15px;
}
ul#custom_program-group {
    margin: 0 auto;
}
.cloud-png {
    position: absolute;
    top: 79px;
    right: 134px;
}
@media only screen and (max-width: 1680px){
    .faq-section {
        margin: 0;
    }
}
@media (max-width:1367px){
    .principal-speech{
        width:100%;
    }
    .principal-content {
        margin-top: 60px;
    }
    .more a, .more_faq a {
        width: 36%;
    }
}
.principal-msg {
    padding: 100px 0;
    margin: 0;
}

.learn_owl_wrapper {
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 25px;
   
}
.learn_owl_wrapper + p {
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.staff_detail p {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
    text-align: center !important;
    text-transform: capitalize;
}

.staff_image {
    border-radius: 15px;
    overflow: hidden;
}

.staff_image img {
    width: 100%;
}
.staff_detail span {
    font-size: 16px;
}

.staff_detail {
    text-align: center;
}
.staff_detail {
    margin-bottom: 30px;
}
.tsum-content#content5{
    display: none;
}
.next_color1 {
    background: #C56352;
}
.Next_color2 {
    background: #304B82;
}
.academic-block .slick-prev.slick-arrow {
    display: none !important;
}
.academic-block .slick-next.slick-arrow {
    display: none !important;
}