nav{
    width: 100%;
    height: 100px;
    position: absolute;
    top:0;
    left:0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    background:white;
    color:#000;
    font-family: 'Manrope', sans-serif;
    z-index: 2000;
}

nav .brand{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding:40px 0px;
}

nav .brand a img{
    height: 60px !important;
    width: auto;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    font-size: 18px;

}

.nav-item{
    padding:40px 30px;
}

.bar{
    padding:40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container{
    width: 670px;
    color:white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:24px;
}


.hero-footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 50px 120px;
    align-items: flex-end;

    position: absolute;
    bottom:0;
}


.drop-down-menu{
    height:auto;
    background: #e7e6e6;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    position: absolute;
    z-index: 10;
    padding:5px;
    top:100px;
    left:0;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
    width: 100%;
    transition: all 0.3s ease 0s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-down-menu ul{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-bottom: 0px;
}

.drop-down-menu ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.drop-down-menu ul li:hover{
    background-color:#e9ecef;
}

.drop-down-menu ul li a{
    text-decoration: none;
    width: auto;
    padding: 10px 20px;
    color: #000;
}

.closeBtn{
    cursor: pointer;
}

.drop-down-menu{
    display: none;
}

.closeBtn:hover{
    color:#31BBA1;
    /* rotate animation */
    animation: rotate 0.5s ease-in-out !important;
    animation-fill-mode: forwards;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

.openings{
    color:#E2543B;
    background-color:#FFF1EE;
    border-radius:4px;
    padding:4px 8px;
    font-size: 12px;
    font-weight: 600;
    display: inline-flex;
}

/* Mega Menu */
.mega-menu{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding:20px;
    z-index: 100;
    overflow: visible;
}

/* Hide the webkit scrollbar for the mega menu */
.mega-menu::-webkit-scrollbar {
    display: none;
}

.mega-menu-list{
    display: flex;
    align-items: flex-start;
    padding:0px 60px;
    overflow-y: auto;
    justify-content: center;
    gap:20px;
    width: 100%;
    overflow-y: auto;
    margin-top:40px;

    transition: all 0.3s ease 0s;

    /* flex-wrap: wrap; */
}


/* hide the webkit scrollbar for the mega menu */
.mega-menu-list::-webkit-scrollbar {
    display: none;
}

.mega-menu-list ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap:20px;
    width: auto;
    padding:10px;
    height: auto;
    list-style: none;
    text-align: center;
    border-right: 1px solid #31BBA1;
}

.mega-menu-list ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    cursor: pointer;
    text-align: left;
}

.mega-menu-list ul li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    text-align: left;
}

.mega-header{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Neuton', serif;
    margin-bottom: 10px;
}

.mega-menu{
    display: none;
}



/* Screen 960px */
@media (max-width:960px)
{
    .nav-menu{
        display: none;
    }

}

@media (max-width:1000px) {
    .mega-menu-list ul{
        border:0px;
        width: auto !important;
    }

    .mega-menu-list{
        justify-content: space-between;
        width: 100%;
        padding:0px;
        flex-wrap: wrap;
    }
}

.btn-trans{
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.80);
    transition: all 0.1s ease 0s;
    padding:10px 20px;
}

.btn-trans:hover{
    border:1px solid #31BBA1;
    color:#31BBA1;
}

@media (max-width:440px) {
    nav{
        padding:0px;
    }
}