.inp-img-container{
    height:400px;
    width: 100%;
    padding:0px;

    background:url('../images/inp-form-img.jfif') no-repeat;
    background-size: cover;
    background-position: center;
}


/* Inquiry form */
.inq-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .inp-grp input{
    width: 90%;
    height: 50px;
    padding:20px;
    margin-bottom: 20px;
  
    border-radius: 4px;
    background: #F2F2F2;
    border:none;
  
    color: rgba(0, 0, 0, 0.25);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
  }

  .inp-grp input::placeholder{
    color: rgba(0, 0, 0, 0.25);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .inp-grp select {
    width: 90%;
    height: 50px; /* Adjust this height based on your design */
    padding: 10px; /* Adjust the padding as needed */
    margin-bottom: 20px;
    
    border-radius: 4px;
    background: #F2F2F2;
    border: none;
    
    color: rgba(0, 0, 0, 0.25);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
    box-sizing: border-box; /* Include padding in the total height calculation */
  }

  .privacy-notice p{
    color: rgba(0, 0, 0, 0.60);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
  }
  
  
@media (max-width:780px)
{
    .ready_path h2{
        text-align: left;
        width: 100%;;
    }

    .ready_path p{
        text-align: left;
        width: 100%;
    }
}


/* Privacy Page */

section.privacy-section{
  margin-top:-100px;
  position: relative;
  padding:0 100px;
}

.privacy-image{
  height: 420px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.privacy-image img{
  height: 100%;
  width: 600px;
  object-fit: cover;
  border-radius: 50px;
  margin:0px auto;
}

.privacy-content p{
  color: var(--black, #3A4146);
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 31px; /* 155% */
text-align: left;
width: 100%;
margin-bottom: 10px;
}

.privacy-content h2{
  color: rgba(0, 0, 0, 0.80);
font-family: Manrope;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: left;
width: 100%;
margin-bottom: 10px;
}


@media(max-width:1280px)
{
  .cloud-png{
    top:0px;
    right:-80px;
  }
}



@media(max-width:960px)
{

  section.privacy-section{
    padding:16px;
  }


  .privacy-header{
    text-align: left !important;
    width: 100%;
    margin-top: 40px;
  }

  .privacy-image img{
    width: 98%;
  }

  .uni-vector img{
    width: 200px;
  }

  .hero-btns button{
    width: 89%;
  }

  .main-banner{
    height: 75vh;
  }

  .home-content{
    padding-top:100px ;
  }
  

}

@media(max-width:440px)
{
  section.privacy-section{
    padding:10px;
  }
  
  .privacy-image img{
    width: 100%;
  }

  .uni-vector img{
    width: 120px;
  }

}