.inp-img-container{
    height:400px;
    width: 100%;
    padding:0px;

    background:url('../images/inp-form-img.jfif') no-repeat;
    background-size: cover;
    background-position: center;
}


/* Inquiry form */
.inq-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .inp-grp input{
    width: 90%;
    height: 50px;
    padding:20px;
    margin-bottom: 20px;
  
    border-radius: 4px;
    background: #F2F2F2;
    border:none;
  
    color: rgba(0, 0, 0, 0.25);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
  }

  .inp-grp input::placeholder{
    color: rgba(0, 0, 0, 0.25);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .inp-grp select {
    width: 90%;
    height: 50px; /* Adjust this height based on your design */
    padding: 10px; /* Adjust the padding as needed */
    margin-bottom: 20px;
    
    border-radius: 4px;
    background: #F2F2F2;
    border: none;
    
    color: rgba(0, 0, 0, 0.25);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
    box-sizing: border-box; /* Include padding in the total height calculation */
  }

  .privacy-notice p{
    color: rgba(0, 0, 0, 0.60);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
  }
  
  
@media (max-width:780px)
{
    .ready_path h2{
        text-align: left;
        width: 100%;;
    }

    .ready_path p{
        text-align: left;
        width: 100%;
    }
}


/* Privacy Page */

section.news-section{
  margin-top:-100px;
  position: relative;
  padding:0 100px;
}

.news-image{
  height: 420px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.news-image img{
  height: 100%;
  width: 600px;
  object-fit: cover;
  border-radius: 50px;
  margin:0px auto;
}

.news-content p{
  color: var(--black, #3A4146);
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 31px; /* 155% */
text-align: left;
width: 100%;
margin-bottom: 10px;
}

.news-content h2{
  color: rgba(0, 0, 0, 0.80);
font-family: Manrope;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: left;
width: 100%;
margin-bottom: 10px;
}


@media(max-width:1280px)
{
  .cloud-png{
    top:0px;
    right:-80px;
  }
}



@media(max-width:960px)
{

  section.news-section{
    padding:16px;
  }


  .news-image img{
    width: 98%;
  }

  .uni-vector img{
    width: 200px;
  }

  .hero-btns button{
    width: 89%;
  }

  .main-banner{
    height: 100vh;
  }

  .home-content{
    padding-top:200px ;
  }
  

}

@media(max-width:440px)
{
  section.news-section{
    padding:10px;
  }
  
  .news-image img{
    width: 100%;
  }

  .uni-vector img{
    width: 120px;
  }

}

/* .static_horizontal_sub_menu li:hover{

} */

.path_a{
  cursor: pointer;
}

/* .about-tab .label-container{
  padding:10px 0px;
  justify-content: space-around;
} */

.tsum-content#content4 .label-container {
  padding:10px 0px !important;
  justify-content: flex-start !important;
}

@media(min-width:1600px)
{
  .tsum-content#content4 .label-container {
    justify-content: space-around;
  }
  
}

.tsum-content#content4 .label-container .label{
  width: 200px !important;
}

@media(min-width:912px)
{
  .watch-vts-block.inner-a .slick-next {
    right: -117px;
  }
}

.newsAndArticle .news{
  cursor: pointer;
}

.adProcess.visible{
  opacity:1 !important;
}

.static_horizontal_sub_menu li a{
  font-size: 14px !important;
}
.static_horizontal_sub_menu li span{
  font-size: 12px !important;
  color:Red;
  background-color: antiquewhite;
  padding: 2px 5px;
  border-radius: 5px;
}

.na-block1.abc img{
  height: 350px !important;
}


@media (max-width:760px)
{
  .newsAndArticle{
    padding:0px !important;
  }

  .newsAndArticle h2{
    font-size: 38px;
  }

  .newsAndArticle .news img{
    width: 100%;
    height: auto;
  }

  .content-2-main-content h2{
    font-size: 38px !important;
  }
}

.adv-content h2, .bod-content h2{
  text-align: left;
}

.adv-content p, .bod-content p{
  text-align: left;
}

.bod-content{
  display: none !important;
}


.newsAndArticle .news img{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.content-2-main-content h2{
  font-size: 30px !important;
}

.content-2-main-content .image-container img{
  width: 300px;
}